*,
*::before,
*::after {
    box-sizing: border-box;
}

/*custom properties*/
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-dark: #393e46; /*bacgground*/
    --clr-light: #f4f4f4;
    --clr-accent: #f0a500;/*greenish color of the site*/

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.75rem;
    --fs-h4: 1rem;
    --fs-body: 1rem;


    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15); /*box shadow*/
}

/*redefine font sizes to make them bigger at larger screen sizes*/
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-h4: 1.2rem;
        --fs-body: 1.125rem;
    }
}

/*======== General styles ==============*/
html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: hidden;
}

body {
    background: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    overflow-x: hidden;
}

/* Typography */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }
h4 { font-size: var(--fs-h4) }



section{
    padding: 3em 1em;
}

img {
    display: block; /*gets rid of image issues*/
    max-width: 100%; /*so the image doesn;t overflow the side of the parent*/
}


/* Buttons */
.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

strong{font-weight: var(--fw-bold)}
:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.section__title {
    margin-bottom: .25em;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    text-align: center;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}




/*===========Share Text===============*/
.share{
    background: var(--clr-dark);
    text-align: center;
    margin-top: 0;
    font-size: large;
    margin-bottom: 0;
}

.share a{
    color: var(--clr-accent);
}

.share a:hover{
    color: var(--clr-light);
}




/*=========  Intro section ========= */
header{
    background-color: var(--clr-dark);/*change this to white later*/
    background-image: url(../images/bg_intro2.jpg);
    background-size: cover;
    margin: 0;
    min-height: 50hv;
}


.section__title--intro {
    font-weight: var(--fw-reg);
    display: inline-block;
}

.intro{
    position: relative;
}

.section__subtitle--intro {
    display: inline-block;

}
@media screen and (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: max-content max-content;
    }

    .section__subtitle--intro {
        align-self: center;
        grid-column: -1 / 1; /*makes it stretch*/
        grid-row: 2;
        text-align: center;
        position: relative;
        left: 0;
        width: calc(100% + 3em);
    }

    .section__title--intro {
        font-weight: var(--fw-reg);
        text-align: right;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

@media screen and (max-width:900px){
    .section__subtitle--intro {
        font-size: var(--fs-h4);
    }
}

/* Portfolio styles */
.portfolio_title strong{
    display: block;
}

.portfolio_intro{
    align-content: flex;
    font-weight: var(--fw-reg);
}

.portfolio_subtitle{
    background: var(--clr-accent);
    padding: 0.25em 0.25em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    margin: 0;
    font-size: var(--fs-h3);
}

@media (min-width: 600px) {
    .portfolio_intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
    }

    .portfolio_subtitle{
        box-shadow: var(--bs);
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        position: relative;
        text-align: center;
        left: -1em;
        width: calc(100% + 2em);
        z-index: 2;
    }
}
@media (max-width: 800px){
    .portfolio_subtitle{
        font-size: 1rem;
    }
}

.portfolio-item-individual a{
    color: var(--clr-light);
}

.portfolio-item-individual a:hover{
    color: var(--clr-accent);
}



/*=============Navigation================*/

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--clr-accent);
    z-index: 100;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
}

.logo a{
  color: var(--clr-dark);
  text-decoration: none;
}

.logo a:hover{
    color: var(--clr-light);
}


.nav__list li{
    list-style: none;
}
.nav__list a{
    color: var(--clr-dark);
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h4);
}

.nav__list{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.hamburger{
    display: none;
}

@media screen and (max-width:1024px){
    .nav__list{
        width: 60%;
    }
}

@media screen and (max-width:800px){
    .header,html,body{
        max-width: 100%;
        overflow-x: hidden;
    }

    .nav__list{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 6vh;
        background-color: var(--clr-accent);
        display: hidden;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        overflow: hidden;
    }
    .nav__link{
        opacity: 0;
    }

    .hamburger {
        display: block;
    }

}


@keyframes navLinksFade{
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

.nav-open .nav__list{
    transform: translateX(0%);
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}
.nav-open .hamburger::after {
    opacity: 0;
}

.nav__link:hover {
    color: var(--clr-light);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    z-index: 1000;
}

.hamburger {
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .my-services {
    padding-top: 60px;
}
.header{
    max-width: 100%;
    overflow-x: hidden;
}




/*======== My services section ========*/
.my-services {
    background-color: var(--clr-dark);/*change this to white later*/
    background-image: url(../images/services-bg.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.3;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}
.services {
    margin-bottom: 4em;
}

.services a{
    color: var(--clr-accent)
}

.services a:hover{
    color: var(--clr-light);
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
    top: 15%
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 1em;
    }

    .about-me__body{
        margin-top: 0 auto;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}



/*================== My Work ===================*/
.my-work {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
}

.portfolio {

    display: grid;
    /* grid-template-columns: repeat(2,400px); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;

}

.portfolio__img {
    display: block;
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}



/*============ footer =========*/
.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}
.footer__link {
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
}


.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

/* Individual portfolio item styles */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
